html {
    background-color: rgb(255, 248, 242);
    scroll-behavior: smooth;

}

body {
    margin: 1 auto;
    padding-left: 35px;
    padding-bottom: 50px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    overflow-x: hidden;
}

img{
    width: 40vw;
    height: auto;
    min-width: 200px;
    
}

p {
    margin: 1em 0;
    position: relative;
    width: calc(25vw + 30ch);
    max-width:100%;
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13.4pt;
    color: #1a1a1a;
    line-height: 1.4;
    letter-spacing: 0.095mm;
    z-index: 1;
    background-color: rgb(255, 248, 242);
}

#all-indent {
    padding-left: 40px;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13pt;
    width: calc(18vw + 25ch);
}




h2 {
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16.8pt;
    color: #1a1a1a;
    line-height: 1.7;
}

h3 {
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14.8pt;
    color: #1a1a1a;
    line-height: 1.7;
}

h5 {
font-size: 1em;
font-style: regular;
}

h6 {
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12.4pt;
    color: #1a1a1a;
    line-height: 14.4pt;
    letter-spacing: 0.095mm;
    min-width: 200px;
}

ol, ul {
padding-left: 1.7em;
margin-top: 1em;
width: calc(25vw + 30ch);
    max-width:100%;
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13.4pt;
    color: #1a1a1a;
    line-height: 1.4;
}
li > ol, li > ul {
margin-top: 0;
}

hr {
background-color: #1a1a1a;
border: none;
height: 1px;
margin: 1em 0;
}

header {
margin-bottom: 4em;
text-align: center;
}

span.smallcaps{font-variant: small-caps;}

div.columns{display: flex; gap: min(4vw, 1.5em);}

div.column{flex: auto; overflow-x: auto;}


div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}

ul.task-list li input[type="checkbox"] {
width: 0.8em;
margin: 0 0.8em 0.2em -1.6em;
vertical-align: middle;
}

.display.math{display: block; text-align: center; margin: 0.5rem auto;}


#title {
    font-family: "indivisible", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 5rem;
    letter-spacing: -0.05em;
    line-height: 1em;
    word-wrap: break-word;
}



#all-indent-oblique {
    font-style: oblique;
}

#berlin {
    margin: 0 !important;
    padding: 0 !important;
}

#abstract {
    font-style: oblique;
}

.hidden {
    display: none;
}

.link {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 248, 242);
    text-decoration: none;
    position: relative;
    height: 22px;
    z-index: 9;
    font-weight: 600;
    font-style: normal;
}

.link-noindent {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 248, 242);
    text-decoration: none;
    position: relative;
    height: 22px;
    z-index: 9;
    text-indent: 0;
}

.story {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 0; /* remove margin between paragraphs */
}



.content-table-p {
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 600;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    width: 70ch;
    display: flex;
    flex-direction: column;
}


.content-table-right {
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 600;
    margin-right: 20px;
    margin-top: 0px;
    margin-left: 50%;
    width: 8ch;
    left:  60px;
    z-index: -1;
    display: inline-block;
}

.content-table-right a {
    text-decoration: none;
    background-color: #bebebe;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 9.5pt;
}

.content-list {
    list-style-type: none;
}



.image-btn-wrapper {
    display: inline-flex;
    align-items: center;

}

.image-position {
    position: absolute;
    width: calc(100vw - 35vw - 30ch);
    left:  calc((35vw + 20ch) + 25px);
    margin-top: 50px;
    /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
    z-index: 5;
    height: auto;
    text-indent: 0;
    padding-right: 50px;
    
}

#indent {
    text-indent: 50px;
}

figcaption {
    position: relative;
    overflow-wrap:normal;
    z-index: 5;
}

.subtext {
    position: relative;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11.2pt;
    color: #1a1a1a;
    overflow-wrap: normal;
    width: calc(22vw + 30ch);
    background-color: rgb(255, 230, 0);
    display: flex;
    
}

.subtext-berlin {
    max-width: 65ch;
font-family: "forma-djr-deck", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 9.8pt;
color: #1a1a1a;
line-height: 1.7;
padding-bottom: 0px;
}


.berlin-images {
    display:inline-flex;
    flex-direction: column;
    gap: 5px;
}


#berlin-1 {
    width: 80%;
}

#berlin-2 {
    width: 80%;
}

#berlin-3 {
    width: 80%;
}

#berlin-4 {
    width: 80%;
}

#berlin-5 {
    width: 80%;
}

#berlin-6 {
    width: 80%;
}

#berlin-7 {
    width: 80%;
}

.footnote-marker {
    font-size: 13.3pt;
    color: rgb(0, 0, 0);
}

@media (max-width: 860px) {
    .image-position {
        left: 0;
    }

    #title {
        font-size: 3rem;
    }

    html {
        font-size: 16px;
    }

    p {
        font-size: 11.8pt;
    }

    body {
        padding: 0 20px;
        
    }

    .image-position img {
        width: 100%;
    }

    .subtext {
        font-size: 10pt;
    }

    img{
        width: 100vw;
        height: auto;
        min-width: 88vw;
    }
}